<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>The Rocketship Podcast Dashboard</h1>
    </div>
  </div>


  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Episodes", root_path %></li>
        <li><%= link_to "New Episode", new_podcast_episode_path(@podcast) %></li>
        <li><%= link_to "Account Settings", edit_podcast_registration_path, class: "current" %></li>
        <li><%= link_to "View Podcast", podcast_path(current_podcast) %></li>
      </ul>
    </div>
  </div>
</div>


<div id="form">
  <div class="wrapper_skinny">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>


        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true %>
        </div>


        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_area :description %>
        </div>


        <div class="field">
          <%= f.label :thumbnail %><br />
          <%= f.file_field :thumbnail %>
        </div>


        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>


        <h2>Links</h2>


        <div class="field">
          <%= f.label :itunes %><br />
          <%= f.text_field :itunes %>
        </div>


        <div class="field">
          <%= f.label :stitcher %><br />
          <%= f.text_field :stitcher %>
        </div>


        <div class="field">
          <%= f.label :podbay %><br />
          <%= f.text_field :podbay %>
        </div>


        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>


        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>


        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>


        <div class="actions">
          <%= f.submit "Update", class: "button button_highlight button_block" %>
        </div>
    <% end %>


    <h3>Cancel my account</h3>


    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
