<div id="banner" class="sign_up_banner">
  <h1>Create a podcast. It's 100% free.</h1>
</div>
<div id="form">
  <div class="wrapper_skinny">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :thumbnail %><br />
          <%= f.file_field :thumbnail %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'button button_highlight button_block' %>
        </div>
    <% end %>

  </div>
</div>
