/* line 6, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 10, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

/* line 15, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* line 20, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.wrapper_skinny {
  width: 50%;
  margin: 0 auto;
}

/* line 25, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 30, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.cf:after {
  clear: both;
}

/* line 34, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#notice_wrapper {
  width: 100%;
  position: absolute;
  background: rgba(208, 103, 82, 0.85);
  z-index: 999;
}
/* line 39, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#notice_wrapper p {
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1.5rem 0;
}
/* line 46, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#notice_wrapper .notice {
  color: chartreuse;
}
/* line 49, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#notice_wrapper .alert {
  color: #B00100;
}

/* line 54, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.button {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  display: inline-block;
  min-width: 8.5rem;
}

/* line 66, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.button_highlight {
  background: #d2674e;
  transition: background .4s ease-in-out;
}
/* line 69, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.button_highlight:hover {
  background: #c74f33;
}

/* line 74, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.button_white {
  background: #FFFFFF;
  color: #22292e;
  transition: background .4s ease-in-out;
}
/* line 78, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.button_white:hover {
  background: #ececec;
}

/* line 83, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.button_block {
  display: block;
  margin: 0 auto;
}

/* line 88, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#main_header {
  color: #22292e;
  background: #FFFFFF;
  padding: 2.5rem 0;
}
/* line 92, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#main_header #logo {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #22292e;
  text-decoration: none;
}
/* line 99, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#main_header nav {
  float: right;
}
/* line 101, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#main_header nav ul {
  list-style: none;
  margin: 0;
}
/* line 104, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#main_header nav ul li {
  display: inline;
  margin-left: 2.5rem;
}
/* line 107, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#main_header nav ul li a {
  color: #22292e;
  text-decoration: none;
}

/* line 116, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 4rem;
}
/* line 121, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#banner h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 8rem 0;
}

/* line 132, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.podcasts_banner {
  background-image: url(/assets/podcasts_banner-c519c5b630de481117831386b19f31a3b13bb0c41e7febe6c4445c3470f3a30a.jpg);
}

/* line 136, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.sign_in_banner {
  background-image: url(/assets/sign_in_banner-9a62156772c591d2adab462a683171e66fcf545978eb00fe1f662ddd333f13c7.jpg);
}

/* line 140, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.sign_up_banner {
  background-image: url(/assets/sign_up_banner-8bcea1263031f34cd76dfcb98089a7a5005dfee190a8e78df538fd4d64f66b32.jpg);
}

/* line 144, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination:before, .pagination:after {
  content: " ";
  display: table;
}

/* line 149, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination:after {
  clear: both;
}

/* line 153, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination {
  text-align: center;
  margin: 1rem 0 5rem 0;
}
/* line 156, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
  padding: 0.75rem 1rem;
  margin: 0 .25rem;
  border-radius: .15rem;
  line-height: 1.25;
  text-decoration: none;
  background: #EDEFF5;
  font-weight: 700;
  font-size: .7rem;
  font-style: normal;
  color: #22292e;
}
/* line 167, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination a:hover, .pagination .previous_page:hover, .pagination .current:hover, .pagination .next_page:hover {
  background: #d2674e;
  color: #FFFFFF;
}
/* line 172, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination .current {
  background: #d2674e;
  color: #FFFFFF;
}
/* line 176, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination .disabled {
  color: #C0C0C0;
}
/* line 178, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.pagination .disabled:hover {
  color: #C0C0C0;
  background: #EDEFF5;
}

/* line 185, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
.field {
  margin: .5rem 0 1.5rem 0;
}

/* line 189, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
input[type="email"], input[type="text"], input[type="password"], textarea {
  width: 100%;
  height: 2.5rem;
  padding: .25rem 1rem;
  background: #EDEFF5;
  border: 1px solid #dde0ec;
  border-radius: .35rem;
  margin-top: .5rem;
}

/* line 199, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
textarea {
  min-height: 8rem;
  margin-top: .5rem !important;
}

/* line 204, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/application.css.scss */
#form {
  padding: 0 0 5rem 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 109, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 126, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 135, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 144, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 153, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
sup {
  top: -0.5em;
}

/* line 173, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 184, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 192, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 203, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 211, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 357, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 379, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 390, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 399, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 408, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 419, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/normalize.css.scss */
td,
th {
  padding: 0;
}

/*  SECTIONS  ============================================================================= */
/* line 4, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */
/* line 13, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 18, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.group:after {
  clear: both;
}

/* line 21, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */
/* line 27, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

/* line 33, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.col:first-child {
  margin-left: 0;
}

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 39, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .col {
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWO   ============================================================================= */
/* line 47, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_2 {
  width: 100%;
}

/* line 51, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 58, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_2 {
    width: 100%;
  }

  /* line 61, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_2 {
    width: 100%;
  }
}
/*  GRID OF THREE   ============================================================================= */
/* line 69, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_3 {
  width: 100%;
}

/* line 73, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_3 {
  width: 66.13%;
}

/* line 77, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_3 {
  width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 85, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_3 {
    width: 100%;
  }

  /* line 88, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_3 {
    width: 100%;
  }

  /* line 91, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_3 {
    width: 100%;
  }
}
/*  GRID OF FOUR   ============================================================================= */
/* line 99, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_4 {
  width: 100%;
}

/* line 103, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_4 {
  width: 74.6%;
}

/* line 107, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_4 {
  width: 49.2%;
}

/* line 111, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_4 {
  width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 119, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_4 {
    width: 100%;
  }

  /* line 122, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_4 {
    width: 100%;
  }

  /* line 125, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_4 {
    width: 100%;
  }

  /* line 128, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_4 {
    width: 100%;
  }
}
/*  GRID OF FIVE   ============================================================================= */
/* line 136, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_5 {
  width: 100%;
}

/* line 140, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_5 {
  width: 79.68%;
}

/* line 144, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_5 {
  width: 59.36%;
}

/* line 148, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_5 {
  width: 39.04%;
}

/* line 152, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_5 {
  width: 18.72%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 160, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_5 {
    width: 100%;
  }

  /* line 163, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_5 {
    width: 100%;
  }

  /* line 166, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_5 {
    width: 100%;
  }

  /* line 169, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_5 {
    width: 100%;
  }

  /* line 172, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_5 {
    width: 100%;
  }
}
/*  GRID OF SIX   ============================================================================= */
/* line 178, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_6_of_6 {
  width: 100%;
}

/* line 182, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_6 {
  width: 83.06%;
}

/* line 186, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_6 {
  width: 66.13%;
}

/* line 190, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_6 {
  width: 49.2%;
}

/* line 194, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_6 {
  width: 32.26%;
}

/* line 198, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_6 {
  width: 15.33%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 206, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_6_of_6 {
    width: 100%;
  }

  /* line 209, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_6 {
    width: 100%;
  }

  /* line 212, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_6 {
    width: 100%;
  }

  /* line 215, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_6 {
    width: 100%;
  }

  /* line 218, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_6 {
    width: 100%;
  }

  /* line 221, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_6 {
    width: 100%;
  }
}
/*  GRID OF SEVEN   ============================================================================= */
/* line 229, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_7_of_7 {
  width: 100%;
}

/* line 233, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_6_of_7 {
  width: 85.48%;
}

/* line 237, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_7 {
  width: 70.97%;
}

/* line 241, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_7 {
  width: 56.45%;
}

/* line 245, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_7 {
  width: 41.94%;
}

/* line 249, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_7 {
  width: 27.42%;
}

/* line 253, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_7 {
  width: 12.91%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 261, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_7_of_7 {
    width: 100%;
  }

  /* line 264, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_6_of_7 {
    width: 100%;
  }

  /* line 267, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_7 {
    width: 100%;
  }

  /* line 270, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_7 {
    width: 100%;
  }

  /* line 273, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_7 {
    width: 100%;
  }

  /* line 276, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_7 {
    width: 100%;
  }

  /* line 279, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_7 {
    width: 100%;
  }
}
/*  GRID OF EIGHT   ============================================================================= */
/* line 287, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_8_of_8 {
  width: 100%;
}

/* line 291, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_7_of_8 {
  width: 87.3%;
}

/* line 295, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_6_of_8 {
  width: 74.6%;
}

/* line 299, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_8 {
  width: 61.9%;
}

/* line 303, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_8 {
  width: 49.2%;
}

/* line 307, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_8 {
  width: 36.5%;
}

/* line 311, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_8 {
  width: 23.8%;
}

/* line 315, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_8 {
  width: 11.1%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 323, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_8_of_8 {
    width: 100%;
  }

  /* line 326, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_7_of_8 {
    width: 100%;
  }

  /* line 329, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_6_of_8 {
    width: 100%;
  }

  /* line 332, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_8 {
    width: 100%;
  }

  /* line 335, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_8 {
    width: 100%;
  }

  /* line 338, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_8 {
    width: 100%;
  }

  /* line 341, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_8 {
    width: 100%;
  }

  /* line 344, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_8 {
    width: 100%;
  }
}
/*  GRID OF NINE   ============================================================================= */
/* line 352, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_9_of_9 {
  width: 100%;
}

/* line 356, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_8_of_9 {
  width: 88.71%;
}

/* line 360, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_7_of_9 {
  width: 77.42%;
}

/* line 364, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_6_of_9 {
  width: 66.13%;
}

/* line 368, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_9 {
  width: 54.84%;
}

/* line 372, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_9 {
  width: 43.55%;
}

/* line 376, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_9 {
  width: 32.26%;
}

/* line 380, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_9 {
  width: 20.97%;
}

/* line 384, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_9 {
  width: 9.68%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 392, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_9_of_9 {
    width: 100%;
  }

  /* line 395, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_8_of_9 {
    width: 100%;
  }

  /* line 398, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_7_of_9 {
    width: 100%;
  }

  /* line 401, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_6_of_9 {
    width: 100%;
  }

  /* line 404, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_9 {
    width: 100%;
  }

  /* line 407, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_9 {
    width: 100%;
  }

  /* line 410, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_9 {
    width: 100%;
  }

  /* line 413, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_9 {
    width: 100%;
  }

  /* line 416, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_9 {
    width: 100%;
  }
}
/*  GRID OF TEN   ============================================================================= */
/* line 424, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_10_of_10 {
  width: 100%;
}

/* line 428, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_9_of_10 {
  width: 89.84%;
}

/* line 432, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_8_of_10 {
  width: 79.68%;
}

/* line 436, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_7_of_10 {
  width: 69.52%;
}

/* line 440, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_6_of_10 {
  width: 59.36%;
}

/* line 444, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_10 {
  width: 49.2%;
}

/* line 448, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_10 {
  width: 39.04%;
}

/* line 452, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_10 {
  width: 28.88%;
}

/* line 456, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_10 {
  width: 18.72%;
}

/* line 460, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_10 {
  width: 8.56%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 468, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_10_of_10 {
    width: 100%;
  }

  /* line 471, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_9_of_10 {
    width: 100%;
  }

  /* line 474, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_8_of_10 {
    width: 100%;
  }

  /* line 477, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_7_of_10 {
    width: 100%;
  }

  /* line 480, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_6_of_10 {
    width: 100%;
  }

  /* line 483, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_10 {
    width: 100%;
  }

  /* line 486, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_10 {
    width: 100%;
  }

  /* line 489, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_10 {
    width: 100%;
  }

  /* line 492, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_10 {
    width: 100%;
  }

  /* line 495, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_10 {
    width: 100%;
  }
}
/*  GRID OF ELEVEN   ============================================================================= */
/* line 503, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_11_of_11 {
  width: 100%;
}

/* line 507, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_10_of_11 {
  width: 90.76%;
}

/* line 511, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_9_of_11 {
  width: 81.52%;
}

/* line 515, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_8_of_11 {
  width: 72.29%;
}

/* line 519, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_7_of_11 {
  width: 63.05%;
}

/* line 523, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_6_of_11 {
  width: 53.81%;
}

/* line 527, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_11 {
  width: 44.58%;
}

/* line 531, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_11 {
  width: 35.34%;
}

/* line 535, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_11 {
  width: 26.1%;
}

/* line 539, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_11 {
  width: 16.87%;
}

/* line 543, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_11 {
  width: 7.63%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 551, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_11_of_11 {
    width: 100%;
  }

  /* line 554, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_10_of_11 {
    width: 100%;
  }

  /* line 557, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_9_of_11 {
    width: 100%;
  }

  /* line 560, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_8_of_11 {
    width: 100%;
  }

  /* line 563, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_7_of_11 {
    width: 100%;
  }

  /* line 566, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_6_of_11 {
    width: 100%;
  }

  /* line 569, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_11 {
    width: 100%;
  }

  /* line 572, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_11 {
    width: 100%;
  }

  /* line 575, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_11 {
    width: 100%;
  }

  /* line 578, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_11 {
    width: 100%;
  }

  /* line 581, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_11 {
    width: 100%;
  }
}
/*  GRID OF TWELVE   ============================================================================= */
/* line 586, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_12_of_12 {
  width: 100%;
}

/* line 590, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_11_of_12 {
  width: 91.53%;
}

/* line 594, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_10_of_12 {
  width: 83.06%;
}

/* line 598, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_9_of_12 {
  width: 74.6%;
}

/* line 602, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_8_of_12 {
  width: 66.13%;
}

/* line 606, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_7_of_12 {
  width: 57.66%;
}

/* line 610, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_6_of_12 {
  width: 49.2%;
}

/* line 614, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_5_of_12 {
  width: 40.73%;
}

/* line 618, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_4_of_12 {
  width: 32.26%;
}

/* line 622, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_3_of_12 {
  width: 23.8%;
}

/* line 626, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_2_of_12 {
  width: 15.33%;
}

/* line 630, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
.span_1_of_12 {
  width: 6.86%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 638, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_12_of_12 {
    width: 100%;
  }

  /* line 641, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_11_of_12 {
    width: 100%;
  }

  /* line 644, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_10_of_12 {
    width: 100%;
  }

  /* line 647, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_9_of_12 {
    width: 100%;
  }

  /* line 650, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_8_of_12 {
    width: 100%;
  }

  /* line 653, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_7_of_12 {
    width: 100%;
  }

  /* line 656, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_6_of_12 {
    width: 100%;
  }

  /* line 659, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_5_of_12 {
    width: 100%;
  }

  /* line 662, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_4_of_12 {
    width: 100%;
  }

  /* line 665, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_3_of_12 {
    width: 100%;
  }

  /* line 668, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_2_of_12 {
    width: 100%;
  }

  /* line 671, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/grid.css.scss */
  .span_1_of_12 {
    width: 100%;
  }
}
/* line 1, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background {
  background-image: url(/assets/homepage_background-d5eca14206bd2d0b3ef1ff6c6b5b617fd886559533f2ee3f19089c22ac2eef17.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
/* line 7, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background header {
  color: #FFFFFF;
  padding: 3rem 0;
}
/* line 10, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background header #logo {
  float: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
/* line 17, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background header nav {
  float: right;
}
/* line 19, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background header nav ul {
  list-style: none;
  margin: 0;
}
/* line 22, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background header nav ul li {
  display: inline;
  margin-left: 2.5rem;
  position: relative;
}
/* line 26, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 34, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background h1 {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1rem 0 2rem 0;
}
/* line 41, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/welcome.css.scss */
#background .button {
  min-width: 130px;
  display: inline-block;
  margin: 1.5rem 2.5% 0 2.5%;
}

/* line 1, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts {
  padding-bottom: 3rem;
}
/* line 3, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 7, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul li {
  width: 23%;
  float: left;
  margin: 0 1% 2rem 1%;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: .35rem;
}
/* line 14, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul li img {
  width: 100%;
  max-width: 100%;
  border-radius: .35rem .35rem 0 0;
}
/* line 19, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul li .podcast_overview {
  padding: 1rem 7.5%;
}
/* line 21, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul li .podcast_overview h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #22292e;
}
/* line 27, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul li .podcast_overview .episode_count {
  color: #9aaab5;
  font-size: .9rem;
  margin: .5rem 0 .25rem 0;
}
/* line 34, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul li:hover img {
  opacity: .8;
}
/* line 38, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcasts ul li:hover .podcast_overview h2 {
  color: #d2674e;
}

/* line 48, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #show_banner {
  background: #22292e;
  text-align: center;
  padding: 5rem 0;
}
/* line 52, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #show_banner h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0 0 .5rem 0;
}
/* line 58, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #show_banner .description {
  width: 85%;
  line-height: 1.75;
  margin: 0 auto 2rem auto;
  color: #4d5d69;
}
/* line 64, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #show_banner .subscribe_link {
  font-size: .6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  display: inline;
  background: #d2674e;
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  text-decoration: none;
}
/* line 76, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #show_banner .subscribe_link:hover {
  background: #bd4b30;
}
/* line 81, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #breadcrumb {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid #e4e8eb;
  font-weight: 700;
  font-size: .7rem;
}
/* line 87, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #breadcrumb a {
  color: #8c9daa;
  text-decoration: none;
}
/* line 91, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #breadcrumb span {
  margin: 0 .5rem;
}
/* line 95, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes {
  padding: 3rem 0;
}
/* line 97, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul {
  list-style: none;
  padding-left: 0;
}
/* line 100, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e4e8eb;
  margin-bottom: 2rem;
}
/* line 104, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li:last-child {
  border-bottom: none;
}
/* line 107, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li .episode_thumbnail {
  width: 22%;
  float: left;
}
/* line 110, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li .episode_thumbnail img {
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}
/* line 116, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li .episode_overview {
  width: 76.5%;
  float: left;
  margin-left: 1.5%;
}
/* line 121, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li .episode_overview h2 a {
  color: #22292e;
  text-decoration: none;
}
/* line 126, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li .episode_overview .description {
  color: #586a77;
}
/* line 129, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li .episode_overview .authorized_links {
  font-weight: 700;
  font-size: .8rem;
}
/* line 132, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episodes ul li .episode_overview .authorized_links a {
  color: #d2674e;
  margin-right: 1rem;
}
/* line 141, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content {
  padding: 4rem 0;
  margin-bottom: 4rem;
  border-bottom: 1px solid #e4e8eb;
}
/* line 145, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .current_episode_thumbnail {
  display: block;
  margin: 0 auto 2rem auto;
  width: 10rem;
  max-width: 100%;
  border-radius: .35rem;
}
/* line 152, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content h2 {
  font-size: 1.5rem;
  text-align: center;
}
/* line 156, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .description {
  text-align: center;
  font-size: .9rem;
  line-height: 1.7;
  color: #586a77;
}
/* line 162, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content a {
  text-decoration: none;
}
/* line 165, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-jplayer, #podcast_show #episode_content .jp-audio {
  width: 70%;
  margin: 3rem auto .5rem auto;
}
/* line 169, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-title {
  font-size: 12px;
  text-align: center;
  color: #999;
}
/* line 174, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-title ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 179, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-gui {
  position: relative;
  background: #d2674e;
  transition: background .4s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
}
/* line 187, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-controls {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "FontAwesome";
}
/* line 194, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-controls li {
  display: inline;
}
/* line 198, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-controls a {
  color: #fff;
}
/* line 201, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-play, #podcast_show #episode_content .jp-pause {
  width: 60px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-right: 1px solid #dc8a77;
}
/* line 210, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-controls .jp-play:hover, #podcast_show #episode_content .jp-controls .jp-pause:hover {
  background-color: #bd4b30;
}
/* line 214, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-mute, #podcast_show #episode_content .jp-unmute {
  position: absolute;
  right: 59px;
  top: -3px;
  width: 20px;
  height: 40px;
  display: inline-block;
  line-height: 46px;
}
/* line 224, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-mute {
  text-align: left;
}
/* line 227, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-time-holder {
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  right: 90px;
  top: 14px;
}
/* line 235, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-progress {
  background-color: #803321;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  position: absolute;
  right: 22%;
  top: 15px;
  width: 65%;
}
/* line 245, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-play-bar {
  height: 12px;
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}
/* line 251, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-volume-bar {
  position: absolute;
  right: 10px;
  top: 17px;
  width: 45px;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
  background-color: #803321;
  overflow: hidden;
}
/* line 262, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #episode_content .jp-volume-bar-value {
  background-color: #fff;
  height: 8px;
  border-radius: 20px 20px 20px 20px;
}
/* line 268, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #links {
  padding: 2rem 0;
}
/* line 270, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #links ul {
  list-style: none;
  padding-left: 0;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e4e8eb;
}
/* line 276, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #links ul li {
  display: inline;
  margin-right: 1rem;
  font-weight: 700;
}
/* line 280, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #links ul li a {
  color: #22292e;
  text-decoration: none;
}
/* line 283, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #links ul li a:hover {
  color: #d2674e;
}
/* line 288, /Users/adamdebbagh/RubymineProjects/UoPodcast/app/assets/stylesheets/podcasts.css.scss */
#podcast_show #links ul .current {
  color: #d2674e;
}
