<%= form_for ([@podcast, @episode]) do |f| %>


    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>


    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>


    <div class="field">
      <%= f.label :episode_thumbnail %><br>
      <%= f.file_field :episode_thumbnail %>
    </div>


    <div class="field">
      <%= f.label :mp3 %><br>
      <%= f.file_field :mp3 %>
    </div>


    <%= f.submit class: "button button_highlight button_block" %>
<% end %>
