<main>
<div id="background">

  <header class="cf">
    <div class="wrapper_wide">
      <div class="section group">
        <div class="col span_1_of_2">
            <a href="index.html" id="logo">UoPodcast</a>
        </div>
        <div class="col span_1_of_2">
          <nav>
            <ul>
              <% unless podcast_signed_in? %>
                  <li><%= link_to 'Explore', podcasts_path %></li>
                  <li><%= link_to 'Sign In', new_podcast_session_path %></li>
                  <li><%= link_to 'Create a Podcast', new_podcast_registration_path %></li>
              <% else %>
                  <li><%= link_to 'Explore', podcasts_path %></li>
                  <li><a href="#">Dashboard</a></li>
                  <li><%= link_to 'Sign Out', destroy_podcast_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="wrapper_skinny">
    <%= link_to 'Create a Podcast', new_podcast_registration_path, class: 'button button_highlight' %>
    <%= link_to 'Explore', podcasts_path, class:'button button_white' %>
  </div>
  </div>

</main>