<div id="banner" class="sign_in_banner">
  <h1>Welcome back. It's nice to see you.</h1>
</div>

<div id="form">
  <div class="wrapper_skinny">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class:'button button_highlight button_block' %>
        </div>
    <% end %>

  </div>
</div>
