<header id="main_header" class="cf">
  <div class="wrapper_wide">

    <%= link_to 'UoPodcast', root_path, id:'logo' %>
    <nav>
      <ul>
        <% unless podcast_signed_in? %>
            <li><%= link_to 'Explore', podcasts_path %></li>
            <li><%= link_to 'Sign In', new_podcast_session_path %></li>
            <li><%= link_to 'Create a Podcast', new_podcast_registration_path %></li>
        <% else %>
            <li><%= link_to 'Explore', podcasts_path %></li>
            <li><%= link_to "Dashboard", edit_podcast_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_podcast_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>