<!DOCTYPE html>
<html>
<head>
  <title>UoPodcast</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<!--notifications-->



<% if notice %>
    <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
    </div>
    <% elsif alert %>
    <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>
    </div>
<% end %>

<% unless current_page?(root_path) %>
    <%= render 'layouts/header'%>
<% end %>

<%= yield %>
<%= render 'layouts/footer'%>

<script>
    $(document).ready(function(){
        setTimeout(function() {
            $('#notice_wrapper').fadeOut("slow", function() {
                $this.remove();
            });
        }, 2500 );
    });
</script>

</body>
</html>
